/* Variables */
:root{
    --color-de-fondo:   #f3bee1ff;
    --color-de-texto:   #9DFAEA;
    --color-de-titulos: #D81B60;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden; /* solo horizontal */
  overflow-y: auto; /* scroll normal */
  background-color: var(--color-de-fondo); //fondo rosita de mientras
  //background: linear-gradient(to bottom, #fdeff2, #fbcfe8);
  font-family: "Yeseva One", cursive;
}

h1 {
     color: var(--color-de-titulos);
}

h1::first-letter{
    font-size: 150%;
    color: #D81B60;
}

.sakura-bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.petal {
  position: absolute;
  top: -10%;
  width: 14px;
  height: 10px;
  background: radial-gradient(circle at 30% 30%, #fff, #f9a8d4);
  border-radius: 70% 30% 70% 30%;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    transform: translateX(120px) translateY(110vh) rotate(360deg);
  }
}

.petal:nth-child(1) { 
    left: 10%; animation-duration: 12s; 
}
.petal:nth-child(2) { 
    left: 25%; animation-duration: 15s; width: 10px; height: 8px; 
}
.petal:nth-child(3) { 
    left: 40%; animation-duration: 10s; opacity: 0.6; 
}
.petal:nth-child(4) { 
    left: 55%; animation-duration: 18s; 
}
.petal:nth-child(5) { 
    left: 70%; animation-duration: 14s; width: 16px; 
}
.petal:nth-child(6) { 
    left: 85%; animation-duration: 11s; 
}
.petal:nth-child(7) { 
    left: 30%; animation-duration: 20s; 
}
.petal:nth-child(8) { 
    left: 60%; animation-duration: 16s; 
}