/* Variables */
:root{
    //--color-de-acento:  #D81B60;
    --color-de-fondo:   #FA9DDB;
    --color-de-texto:   #9DFAEA;
    --color-de-titulos: #EB9DFA;
    //--borde-redondeado: 5%;
}


h1 {
     color: var(--color-de-titulos);
}

h1::first-letter{
    font-size: 150%;
    color: #D81B60;
}